button.boton {
  margin-bottom: 25px;
}
button.botonbajo {
  margin-top: 35px;
}
.boton:hover {
  font-weight: 700;
}
.img1 {
  max-width: 500px;
  margin-left: 80px;
}
/* ejemplo 1: 3 de pica */
.grid1 {
  position: relative;
  max-width: 500px;
  min-height: 590px;
  margin-left: 80px;
  display: grid;
  border: 5px solid black;
  grid-template-rows: repeat(3, 1fr);
  border-radius: 35px;
}
.grid1 div img {
  border-radius: 50px;
  max-width: 140px;
}

.grid1 div {
  /* padding-top: 20px; los modifico luego */
  justify-self: center;
  align-self: center;
}

.grid1 div:nth-child(3) {
  transform: rotate(180deg);
}
.grid1 div:nth-child(4) {
  position: absolute;
  width: 70px;
  top: 112px;
  left: 23px;
}
.grid1 div:nth-child(4) > img {
  width: 55px;
}
.grid1 .n3 {
  font-family: Georgia, serif;
  font-weight: bold;
  position: absolute;
  top: 34px;
  left: 30px;
  font-size: 80px;
}

/* ejemplo 2: 4 de pica */
.grid2 {
  position: relative;
  width: 505px;
  min-height: 620px;
  margin-left: 80px;
  display: grid;
  border: 3px solid black;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: repeat(2, 1fr);
  border-radius: 35px;
}
.grid2 div img {
  border-radius: 50px;
  max-width: 140px;
}

.grid2 div {
  /* padding-top: 20px; los modifico luego */
  justify-self: center;
  align-self: center;
}
.grid2 div:nth-child(1),
.grid2 div:nth-child(2) {
  padding-bottom: 60px;
}
.grid2 div:nth-child(3),
.grid2 div:nth-child(4) {
  padding-bottom: 60px;
}
.grid2 div:nth-child(4),
.grid2 div:nth-child(3) {
  transform: rotate(180deg);
}
.grid2 div:nth-child(5) {
  position: absolute;
  top: 122px;
  left: 20px;
}
.grid2 div.n4 {
  font-family: Georgia, serif;
  font-weight: bold;
  position: absolute;
  width: 80px;
  top: 18px;
  left: 10px;
  font-size: 100px;
}

.grid2 div:nth-child(5) > img,
.grid2 div:nth-child(6) > img {
  width: 55px;
}
.grid2 div:nth-child(6) {
  transform: rotate(180deg);
  position: absolute;
  bottom: 122px;
  right: 20px;
}
.grid2 div.n4b {
  font-family: Georgia, serif;
  font-weight: bold;
  position: absolute;
  width: 80px;
  bottom: 18px;
  right: 10px;
  font-size: 100px;
  transform: rotate(180deg);
}
/* ejemplo 3: 10 de pica */
.grid3 {
  position: relative;
  width: 505px;
  min-height: 580px;
  margin-left: 80px;
  display: grid;
  border: 5px solid black;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(4, 1fr);
  border-radius: 35px;
}
.grid3 div img {
  border-radius: 50px;
  max-width: 130px;
}
.grid3 div {
  justify-self: center;
  align-self: center;
}
.grid3 div:nth-child(1),
.grid3 div:nth-child(2) {
  margin-bottom: -80px;
  margin-top: -20px;
}

.grid3 div:nth-child(7),
.grid3 div:nth-child(8),
.grid3 div:nth-child(5),
.grid3 div:nth-child(6) {
  transform: rotate(180deg);
}
.grid3 div:nth-child(3),
.grid3 div:nth-child(4) {
  margin-top: -40px;
  margin-bottom: -60px;
}
.grid3 div:nth-child(5),
.grid3 div:nth-child(6) {
  margin-bottom: -40px;
  margin-top: -60px;
}
.grid3 div:nth-child(7),
.grid3 div:nth-child(8) {
  margin-top: -60px;
}
.grid3 div:nth-child(9) {
  position: absolute;
  top: 105px;
}
.grid3 div:nth-child(10) {
  position: absolute;
  transform: rotate(180deg);
  bottom: 105px;
}
/* picas de números */
.grid3 div:nth-child(11) > img,
.grid3 div:nth-child(12) > img {
  width: 60px;
}
.grid3 div:nth-child(11) {
  position: absolute;
  top: 95px;
  left: 17px;
}
.grid3 div:nth-child(12) {
  position: absolute;
  bottom: 95px;
  right: 17px;
  transform: rotate(180deg);
}
/* números */
.grid3 div:nth-child(13) {
  font-family: Georgia, serif;
  font-weight: bold;
  position: absolute;
  width: 80px;
  top: 18px;
  left: 5px;
  font-size: 75px;
}
.grid3 div:nth-child(14) {
  transform: rotate(180deg);
  font-family: Georgia, serif;
  font-weight: bold;
  position: absolute;
  width: 80px;
  bottom: 18px;
  right: 5px;
  font-size: 75px;
}
